.footer {
    background-color: #353d47;
    padding: 15px;
    margin-top: 1.5%;
}

.footer__row {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.footer__box {
    display: flex;
    align-items: center;
}

.footer__logo {
    width: 100%;
}
