<div class="row">

    <!--Ng carousel-->
    <div class="carousel__container col-12 text-center">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img class="carousel__slide" src="../../content/images/sportscar-slide.jpg" alt="Sports Cars">
                <div class="carousel-caption">
                    <h3 class="carousel__slide-title" jhiTranslate="home.carousel.title.first">Sports cars</h3>
                    <p class="carousel__slide-desc" jhiTranslate="home.carousel.desc.first">Fast, loud and sharp
                        looking</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="carousel__slide" src="../../content/images/familycar-slide.jpg" alt="Family Cars">
                <div class="carousel-caption">
                    <h3 class="carousel__slide-title" jhiTranslate="home.carousel.title.second">Family cars</h3>
                    <p class="carousel__slide-desc" jhiTranslate="home.carousel.desc.second">Comfy, capacious and
                        economical</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="carousel__slide" src="../../content/images/limousine-slide.jpg" alt="Limousines">
                <div class="carousel-caption">
                    <h3 class="carousel__slide-title" jhiTranslate="home.carousel.title.third">Limousines</h3>
                    <p class="carousel__slide-desc" jhiTranslate="home.carousel.desc.third">
                        Luxurious, comfortable and outstanding.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <!--About us container-->
    <div class="about__container text-center container">
        <div class="col-12">
            <h1 jhiTranslate="home.about.title" class="about__heading">Best Polish Car rental company</h1>
            <p jhiTranslate="home.about.desc" class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Blanditiis deserunt earum
                facere, inventore
                modi molestias non, nulla numquam perspiciatis quis quisquam similique, unde? Accusantium ad aliquam
                aliquid asperiores consequatur cum esse id inventore itaque laborum magnam, nam odio qui quibusdam
                quisquam rerum, sit tempore totam unde ut vel, veritatis vitae.</p>
        </div>
    </div>

    <!--Grid container-->
    <div class="grid__container text-center container">
        <div class="grid__row row">
            <div class="col-xs-12 col-sm-4">
                <div class="grid__box">
                    <a class="grid__link" href="#">
                        <img class="grid__image" src="../../content/images/pamphlet.png" alt="Catalog image">
                        <h3 jhiTranslate="home.grid.first-heading" class="grid__heading">Catalog</h3>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="grid__box">
                    <a class="grid__link" href="#">
                        <img class="grid__image" src="../../content/images/placeholder.png" alt="Locations image">
                        <h3 jhiTranslate="home.grid.second-heading" class="grid__heading">Locations</h3>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="grid__box">
                    <a class="grid__link" href="#">
                        <img class="grid__image" src="../../content/images/contact.png" alt="Contact image">
                        <h3 jhiTranslate="home.grid.third-heading" class="grid__heading">Contact</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
