<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span jhiTranslate="carRentalSystemApp.reservation.detail.title">Reservation</span> {{reservation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="carRentalSystemApp.reservation.startDate">Start Date</span></dt>
                <dd>
                    <span>{{reservation.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="carRentalSystemApp.reservation.endDate">End Date</span></dt>
                <dd>
                    <span>{{reservation.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="carRentalSystemApp.reservation.paymentStatus">Payment Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'carRentalSystemApp.PaymentStatus.' + reservation.paymentStatus}}">{{reservation.paymentStatus}}</span>
                </dd>
                <dt><span jhiTranslate="carRentalSystemApp.reservation.car">Car</span></dt>
                <dd>
                    <div *ngIf="reservation.car">
                        <a [routerLink]="['/car', reservation.car?.id, 'view']">{{reservation.car?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="carRentalSystemApp.reservation.user">User</span></dt>
                <dd>
                    {{reservation.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation', reservation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
